@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  --color-primary-100: #393e46;
  --color-primary-300: #222831;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-green-100: #00adb5;
  --color-slate-50: #eeeeee;
  --color-red: #d82b47;

  --text-sm: 12px;
  --text-base: 13px;
  --text-lg: 14px;
  --text-xl: 18px;
  --text-2xl: 24px;
  --text-3xl: 64px;
  --text-4xl: 96px;

  --text-shadow-xl: 0 4px 4px rgb(0, 0, 0 / 0.5);
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  @apply max-w-[1200px] w-full;
}
